* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.airbnbphoto {
    width: 100px;
    margin: 30px;
}

.main-hero {
    display: flex;
    flex-direction: column;
    padding: 10 10;
}

.main-img {
    width: 600;
    position: relative;
    right: -80;
}

.main-hero > h1 {
    padding: 0 30;
    font-size: 46;
    font-weight: 600;
}

.main-hero > h2 {
    padding: 0 30;
    max-width: 500;
    font-weight: 300;
    font-size: 22;
}

card {
    display: flex;
    flex-direction: column;
    max-width: 280;
    padding: 20;
}

.katie-img {
    height: 300;
    max-width: 220;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star-img {
   height: 20;
}

bol {
    font-weight: 600;
}

.cards-all {
    display: flex;
    flex-direction: row;
    position: inherit;
    right: 0%;
}

.availability {
    border: 2px solid black;
    max-width: 100;
    padding: 10;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14;
    border-radius: 8px;
    position: absolute;
    background-color: #ffff;
    margin: 10;
}